{
    :profiles {
        :goku {
            :default true
        }
    } 

    :templates {
        :open "open -a \"%s\""
        :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
    }

    :applications {
        :arc [ "^company.thebrowser.Browser" ]
        :chatgpt [ "^com.lencx.chatgpt$" ]
        :eudic [ "com.eusoft.eudic" ]

        :vivaldi [ "^com.vivaldi.Vivaldi$" ]
        ;; :tana [ "^com.vivaldi.Vivaldi.app.fcihfelaaldlnndgdpikildeaibblbpm" ]
        :tana [ "tana" ]
        :telegram [ "^ru.keepcoder.Telegram$" ]
        :vscode [ "^com.microsoft.VSCode" ]
        :wechat [ "^com.tencent.xinWeChat$" ]
        :slack [ "com.tinyspeck.slackmacgap"]
        :sublime [ "^com.sublimetext.4$" ]
        :zotero [ "zotero" ]

        :Apps [:chatgpt
            :slack
            :sublime
            :zotero
            :eudic
        ]
    }

    :tos {
        :toggle_terminal {:key :!Tgrave_accent_and_tilde}
        :activate_vivaldi {:key :!T1}
        :activate_raycast {:shell [:open "raycast"]}
        :hide_app {:key :!Ch}
        :close_app {:key :!Cw}
        :quit_app {:key :!Cq}
        :emacs {:shell "~/.nix-profile/bin/emacsclient --eval '(emacs-everywhere)'"}
    }

    :simlayers {
        :w-mode {:key :w}
        ;; :space-mode {:key :spacebar}
    }
    :main [
        {
            :des "wkey (apps)"
            :rules [:w-mode
                [:1 "open 'https://mail.google.com/mail/u/0/#inbox'"]
                [:2 "open 'https://mail.google.com/mail/u/1/#inbox'"]
                ;; [:q "open kmtrigger://macro=open%3A%20WeChat"] ; `open` seems to be slower than using `osascript` 
                [:q [:km "open: WeChat"]]
                [:s [:km "open: Slack"]]
                [:n [:km "open: Sublime Text"]]
                [:k [:km "open: Keyboard Maestro"]]
                [:t [:km "open: Telegram"]]
                [:e :emacs]
                ;; [:e [:km "open: Weather"]]
            ]
        }
        {
            :des "Power Combos"
            :rules [
            	;; arc
                [:left_command :left_command :arc {:alone :!Ct}]
                [:right_command :right_command :arc {:alone :!Cs}]
                ;; vivaldi
                [:left_command :left_command :vivaldi {:alone :left_command}]
                [:right_command :left_command :vivaldi {:alone [:km "Viv: Command Key"]}]
                [:left_option :left_option :vivaldi {:alone :!CTO1}]
                ;; tana
                [:left_command :left_command :tana {:alone :!Cs}]
                [:left_option :left_option :tana {:alone :!TSd}] ; return to the home page
                [:left_control :left_control :tana {:alone :!TSd}] ; return to the home page
                ;; vscode
                [:left_command :left_command :vscode {:alone :!Cp}]
                [:left_option :left_option :vscode {:alone :!Op}]
                [:left_control :left_control :vscode {:alone :toggle_terminal}]
                ;; zotero
                [:left_option :left_option :zotero {:alone [:km "Open: Tana"]}]
                ;; wechat
                [:left_command :left_command :wechat {:alone :close_app}]

                ;; hide/close apps
                ;; [:left_command :left_command :Apps {:alone :hide_app}]
                [:left_command :left_command :telegram {:alone :quit_app}]

                ;; default
                [:caps_lock :!CSspacebar]
                [:left_command :left_command nil {:alone :hide_app}]
                [:left_option :left_option nil {:alone [:km "Open: Tana"]}]
                [:left_control :left_control nil {:alone :activate_vivaldi}]
                [:right_command :right_command nil {:alone :activate_raycast}]
                [:right_option :right_option nil {:alone :!CSspacebar}]
            ]
        }
        {:des "multitouch"
            :rules [
                [:a :!Ca :multitouch_extension_finger_count_total]
                [:s [:km "356AC911-63CF-4B85-A928-A27B2031FF95"] :multitouch_extension_finger_count_total] ; Open URL or Search Using Google Chrome
                [:d :!Cd :multitouch_extension_finger_count_total]
                [:f :!Cf :multitouch_extension_finger_count_total]
                [:z :!Cz :multitouch_extension_finger_count_total]
                [:x :!Cx :multitouch_extension_finger_count_total]
                [:c :!Cc :multitouch_extension_finger_count_total]
                [:v :!Cv :multitouch_extension_finger_count_total]
                [:b :!Cb :multitouch_extension_finger_count_total]
            ]
        }
    ]
}